<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
        <header class="masthead mb-auto text-center">
            <div class="inner">
              <h3 class="masthead-brand">Bloccit</h3>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link" href="/">Home</a>
                  <a class="nav-link" href="/topics">Topics</a>
                  <% if(currentUser) { %>
                      <a class="nav-link" href="/users/<%= currentUser.id %>">Profile</a>
                      <a class="nav-link" href="/users/sign_out">Sign out</a>
                  <% } else { %>
                      <a class="nav-link" href="/users/sign_up">Sign up</a>
                      <a class="nav-link" href="/users/sign_in">Sign in</a>
                  <% }%>
              </nav>
            </div>
          </header>
      <h1><%= topic.title %></h1>
         <a href="/topics/<%= topic.id %>/edit" class="btn btn-warning">Edit</a>
         <% if(currentUser) { %>
           <a href="/topics/<%= topic.id %>/posts/new" class="btn btn-success">New Post</a>
         <% if(currentUser.isAdmin()) { %>
        <form style="display:initial" action="/topics/<%= topic.id %>/destroy" method="post">
             <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
        <% } %>
      <p><%= topic.description %></p>
      <hr>
      <h1>Posts</h1>
      <ul class="list-group">
        <% topic.posts.forEach((post) => { %>
          <li class="list-group-item">
            <a href="/topics/<%= topic.id %>/posts/<%= post.id %>"> <%= post.title %> </a>
          </li>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
